* {
  margin: 0;
  padding: 0;
}

img {
  width: 8em;
  height: 3em;
}

.searchBar {
  padding: 0.75rem;
  width: 35rem;
  border-radius: 0.25rem;
}

.loggedIn {
  width: 10%;
}

.loggedInAccount {
  width: 70%;
}

.returns {
  width: 8%;
}

span {
  font-weight: bold;
  font-size: 1rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 1rem;
}

li {
  margin: 0.5rem auto;
  color: #ccc;
  font-size: 1rem;
}

.primary-nav {
  height: 3rem;
  background-color: #195851;
  font-weight: bold;
}

.secondary-nav {
  background: #00453e;
}
